<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobant</title>
</head>
<body>
    <header>
        <img src="forum/static/imagens/logo.png" alt="Logo da Jobant">
        <nav>
            <a>Fóruns</a>
            <a>Contatos</a>
            <a>Sobre</a>
        </nav>
    </header>
    <main>
        <section>
            <div>
                <h1>Jobant</h1>
                <h2>Na trilha do sucesso, a equipe é a bússola que nos guia.</h2>
            </div>
            <p>Conectando mentes criativas e habilidades diversas - transformando ideias individuais em projetos colaborativos.</p>
            <p>No nosso espaço, estudantes universitários encontram parceiros além das fronteiras de suas disciplinas,</p>
            <p>criando sinergias inovadoras para impulsionar ideias.</p>
        </section>
    </main>
    
    <footer>
        
    </footer>
</body>
</html>